<div>
  <h2 id="page-heading" data-cy="PlanoHeading">
    <span jhiTranslate="imasfsaudeApp.plano.home.title">Planos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="imasfsaudeApp.plano.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-plano"
        [routerLink]="['/plano/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="imasfsaudeApp.plano.home.createLabel"> Create a new Plano </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="planos?.length === 0">
    <span jhiTranslate="imasfsaudeApp.plano.home.notFound">No planos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="planos && planos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="imasfsaudeApp.plano.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome"><span jhiTranslate="imasfsaudeApp.plano.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="valor"><span jhiTranslate="imasfsaudeApp.plano.valor">Valor</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let plano of planos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/plano', plano.id, 'view']">{{ plano.id }}</a>
          </td>
          <td>{{ plano.nome }}</td>
          <td>{{ plano.valor }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/plano', plano.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/plano', plano.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(plano)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
