<div>
  <h2 id="page-heading" data-cy="BeneficiarioHeading">
    <span jhiTranslate="imasfsaudeApp.beneficiario.home.title">Beneficiarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="imasfsaudeApp.beneficiario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-beneficiario"
        [routerLink]="['/beneficiario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="imasfsaudeApp.beneficiario.home.createLabel"> Create a new Beneficiario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="beneficiarios?.length === 0">
    <span jhiTranslate="imasfsaudeApp.beneficiario.home.notFound">No beneficiarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="beneficiarios && beneficiarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="imasfsaudeApp.beneficiario.id">Id</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nome">
            <span jhiTranslate="imasfsaudeApp.beneficiario.nome">Nome</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cpf">
            <span jhiTranslate="imasfsaudeApp.beneficiario.cpf">Cpf</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="rg"><span jhiTranslate="imasfsaudeApp.beneficiario.rg">Rg</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="imasfsaudeApp.beneficiario.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="imasfsaudeApp.beneficiario.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cep.id">
            <span jhiTranslate="imasfsaudeApp.beneficiario.cep">Cep</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="plano.id">
            <span jhiTranslate="imasfsaudeApp.beneficiario.plano">Plano</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beneficiario of beneficiarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/beneficiario', beneficiario.id, 'view']">{{ beneficiario.id }}</a>
          </td>
          <td>{{ beneficiario.nome }}</td>
          <td>{{ beneficiario.cpf }}</td>
          <td>{{ beneficiario.rg }}</td>
          <td>{{ beneficiario.email }}</td>
          <td jhiTranslate="{{ 'imasfsaudeApp.Status.' + beneficiario.status }}">{{ beneficiario.status }}</td>
          <td>
            <div *ngIf="beneficiario.cep">
              <a [routerLink]="['/cep', beneficiario.cep?.id, 'view']">{{ beneficiario.cep?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="beneficiario.plano">
              <a [routerLink]="['/plano', beneficiario.plano?.id, 'view']">{{ beneficiario.plano?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/beneficiario', beneficiario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/beneficiario', beneficiario.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(beneficiario)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="beneficiarios && beneficiarios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
